html[data-theme="dark"] {
  --label-bg: #444;
  --border-bg: #333;
  --page-bg: #000;
  --diagram-bg: #555;
  --diagram-sep: #333;
}

html[data-theme="dark"] .handle {
  box-shadow: #75757590 1.2px 1.4px 2.4px 1.2px,
    #757575b0 0.5px 0.6px 1.5px 0.5px;
}

html[data-theme="dark"] .handle:hover {
  filter: contrast(140%);
  box-shadow: #555555a0 1.2px 1.4px 2.4px 1.2px,
    #757575c0 0.4px 0.5px 1.6px 0.4px;
}

html[data-theme="dark"] .handle:active {
  box-shadow: #757575d0 0.4px 0.5px 1.4px 0.4px;
  filter: contrast(150%);
}

html[data-theme="dark"] .knob-o {
  background: radial-gradient(
    at top left,
    #ccc 0%,
    #bbb 10%,
    #555 80%,
    #222 100%
  );
}

html[data-theme="dark"] .ring {
  background: conic-gradient(#222 0%, #666 20%, #aaa 35%, #666 85%, #222 100%);
}

html[data-theme="dark"] .moon {
  background: radial-gradient(at top left, #00d 0%, #007 60%, #003 100%);
}

html[data-theme="dark"] .sun {
  background: radial-gradient(at top left, #ccf 0%, #33d 80%, #004 100%);
}

html[data-theme="dark"] .moon-i {
  background: radial-gradient(at bottom right, #00e 0%, #007 60%, #004 100%);
}

html[data-theme="dark"] .sun-inner {
  background: radial-gradient(at bottom right, #fe0 0%, #e90 70%, #c50 100%);
}

html[data-theme="dark"] .moon-inner > svg > path {
  fill: #ffff77;
}

html[data-theme="dark"] #ray-orange > path {
  fill: #ff9922;
}

html[data-theme="dark"] #ray-yellow > path {
  fill: #ffff00;
}

html[data-theme="dark"] .base {
  background: linear-gradient(#222 0%, #333 20%, #666 80%, #999 100%);
}

html[data-theme="dark"] .frame {
  background: conic-gradient(#888 0%, #444 40%, #888 80%, #aaa 90%, #888 100%);
}

html[data-theme="dark"] .tongue {
  background: linear-gradient(#22222290 0%, #444444d0 15%, #888 90%, #999 100%);
  border: 1px solid #b0b0b0df;
}
